extends base.template.pug

block head_end
	link(rel='stylesheet' href='/page.css')
	link(rel='stylesheet' href='/ji.css')
	title= title + ' — 寄己集'

block body
	.ji-layout
		header
			h1
				a(href='/ji/') 寄己集
		main
			article
				header
					h1= title
					- const d = new Date(date || created)
					time(datetime=formatDateISO(d))
						= chineseYear(d) + ' ' + chineseMonth(d) + ' ' + d.getDate() + '日'
					if _translation
						= ' '
						a.translation(href=_translation.path)= _translation.lang
				.content!= content
			include footer.template.pug
